include CHANGELOG
include LICENSE
include README.md
include pyp2rpm/templates/*
include tests/*.py
include tests/test_data/*.spec *.gz *.whl *.zip *.egg
include tests/test_data/LICENSE
include pyp2rpm.1
